<%- include('../partials/header'); -%>

<link rel="stylesheet" type="text/css" href="home_page.css">
<div class="welcome" id="normal brand"  class="container" >
    <p class="text" style="text-align: center;" class="border-bottom border-primary" >Welcome on <strong style="font-style: arial; ">Movie Info</strong></p>
    <h4 class="text">We are very glad to see you here.You can find here any movie whatever you wnat.<br>
    We will try to give you our best. Even though you find something bug or awefull in site<br>
    so you all are welcome to give any suggestion.<br>
    <div id="thank">Thank you.</div></h4>
    <hr width="50px">
</div>  
<%- include('../partials/footer'); -%>
  